.display-style {
  color: white;
}

.list-hight {
  max-height: 450px;
  overflow-y: auto;
}
.card-img {
  height: 142px;
  width: 102px !important;
  margin: auto;
  margin-top: -100px;
}
.cart-btn {
  background-color: #000000;
  padding: 8px 8px;
  opacity: 0.7;
  border: none;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  width: 144px;
}

.cart-btn-header {
  background-color: #ea7c69;
  border: none;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin: auto;
}

.cart-btn-cart {
  /* background-color: #ea7c69; */
  border: none;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin: auto;
}
.search-box-customize {
  color: white;
  border-color: #ffffff;
}

#dropdown-basic-button {
  border-color: #ffffff;
  background-color: #1f1d2b;
  border-color: #393c49;
}

.modal-position-custom {
  margin-right: auto;
}

.modal-custom {
  width: 375px !important;
  position: relative !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

.modal-content-custom {
  height: 100vh;
}
